# DB 접속 정보 (조장에게 수령)
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# JWT (아무 랜덤 문자열 — 본인만 사용)
JWT_SECRET_KEY=
